@import url('./boot.css');
@import url('./xp.css');
@import url('./desktop.css');
@import url('./window.css');
@import url('./error.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}